.embed-response {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

#selectMTN {
  position: relative;
  z-index:  1;
  padding-top: 5%;
  margin-left: 10%;;
  width:300px;
}

#vid1 {
  position: relative;

  z-index: -1;
  width: 100%;
  height:100%;


}
#recentReports{
  position: relative;
  margin-top: 2%;
  padding-left: 1%;

}
#selectMTNHome {

  position: absolute;
  top: 30%;
  left:-3%;


  margin-left: 50%;;
  width:240px;

  }
  #title {
    position: absolute;
  font-size-adjust: inherit;
    z-index: 1;
    margin-left: 40%;
    margin-top: 5%;
    font-family: 'Monoton', cursive;
    font-size: 500%;
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }


  #aboutPics {

    position: relative;
    margin-top: 5%;
    border-radius: 50%;
    margin-bottom: 5%;
    margin-left: 5%;
  }
#grouppics{
  position: relative;
  margin-top: 8%;
  margin-bottom: 5%;
  font-family: 'Indie Flower', cursive;
}

#about {
  position: relative;
  margin-top: 8%;
  margin-left:5%;
  margin-right:5%;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;

}
h3{
  position: relative;
  left:5%;
}

#blake{
  position: relative;
  margin-left:4%;
}
#tyler{
  position: relative;
  margin-left:6%;
}
#kyle{
  position: relative;
  margin-left:8%;
}
#zach{
  position: relative;
  margin-left:9%;
}


