<form>

<input type="text" name="firstname" placeholder="First Name" [(ngModel)]="newUser.firstName" /><br>
<input type="text" name="lastname" placeholder="Last Name" [(ngModel)]="newUser.lastName" /><br>
<input type="text" name="username" placeholder="Username" [(ngModel)]="newUser.username" /><br>
<input type="text" name="password" placeholder="Password" [(ngModel)]="newUser.password" /><br>
<input type="text" name="email" placeholder="Email" [(ngModel)]="newUser.email" /><br>
<input type="text" name="imgUrl" placeholder="Image Url" [(ngModel)]="newUser.profilePic" /><br>
<button (click)="register(newUser)">Register</button>

</form>
