<div *ngIf="!selectedMTN">
  <h1> Recent Reports</h1>

  <table class="table table-striped table-hover">

    <thead class="thead-dark">
      <tr>
        <th>Username</th>
        <th>Mountain</th>
        <th>Trail</th>
        <th>Report text</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of reports">
        <td>{{report.user.username}}</td>
        <!-- IF -->
        <td *ngIf="report.mountain; else noMTN"> {{report.mountain.name}} </td>
        <!-- ELSE -->
        <ng-template #noMTN>
          <td></td>
        </ng-template>
        <!-- IF -->
        <td *ngIf="report.trail; else noTrail">{{report.trail.name}}</td>
        <!-- ELSE -->
        <ng-template #noTrail>
          <td></td>
        </ng-template>

        <td>{{report.reportText}}</td>
        <td>{{report.rating}}</td>
      </tr>
    </tbody>

  </table>
</div>





<!-- MOUNTAIN REPORTS -->
<h3> Select Mountain:</h3>
<div class="form-group">
  <select class="form-control" name="mountain" [(ngModel)]="mtnId">
    <option *ngFor="let mountain of mountains" value="{{mountain.id}}">{{mountain.name}}</option>
  </select>
  <input type="submit" (click)="selectMountain(mtnId)" value='submit' />
</div>


<!-- SELCTED MOUNTAIN  -->


<div *ngIf="selectedMTN">
  <div class='embed-responsive' style='padding-bottom: 70%'>
    <div *ngIf="selectedMTN.id === 1; else vail">
      <object data="assets/Maps/abasin.pdf" type="application/pdf" width='100%' height='600px'></object>
    </div>
    <ng-template #vail>
        <object data="assets/Maps/vail.pdf" type="application/pdf" width='600px' height='500px'></object>
    </ng-template>
  </div>




  <h1 *ngIf="selectedMTN"> Mountain Reports</h1>
  <table class="table table-striped table-hover">

    <thead class="thead-dark">
      <tr>
        <th>Username</th>
        <th>Trail</th>
        <th>Report text</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of mReports">
        <td>{{report.user.username}}</td>
        <!-- IF -->
        <td *ngIf="report.trail; else noTrail">{{report.trail.name}}</td>
        <!-- ELSE -->
        <ng-template #noTrail>
          <td></td>
        </ng-template>

        <td>{{report.reportText}}</td>
        <td>{{report.rating}}</td>
      </tr>
    </tbody>

  </table>
</div>




<!-- ALL TRAILS ON MTN -->

<!-- <div class= "form-group" >
        <select class="form-control" name="mountain" [(ngModel)]="mountain.id">
            <option *ngFor="let mountain of mountains" value="{{mountain.id}}"  >{{mountain.name}}</option>
          </select > -->

<!-- <input type="submit" (click)="selectMountain(mountain.id)" value='submit'>
        </div> -->

<div *ngIf="selectedMTN">
  <h1 *ngIf="selectedMTN"> Mountain Trails</h1>

  <div class="form-group">
    <select class="form-control" name="sortby" [(ngModel)]="searchBy">
      <option value="Name">Name</option>
      <option value="Features">Features</option>
      <option value="Difficulty">Difficulty</option>
    </select>
    <input type="submit" (click)="sortTrailByName(searchBy)" value='Sort By' />
  </div>


  <table class="table table-striped table-hover">
    <div *ngIf="selectedMTN">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Difficulty</th>
          <th>Length</th>
          <th>Elevation Gain/Loss</th>
          <th>Features</th>
        </tr>
      </thead>
      <tr *ngFor="let trail of sortedTrails">
        <td (click)="selectedTrail(trail.id)">{{trail.name}}</td>
        <td>{{trail.difficulty}}</td>
        <!-- IF -->
        <td *ngIf="trail.length; else length">
          {{trail.length}}</td>
        <!-- ELSE -->
        <ng-template #length>
          <td></td>
        </ng-template>
        <!-- IF -->
        <td *ngIf="trail.elevationGainLoss; else gainLoss">
          {{trail.elevationGainLoss}}</td>
        <!-- ELSE -->
        <ng-template #gainLoss>
          <td></td>
        </ng-template>

        <td>{{trail.features}}</td>

      </tr>
    </div>
  </table>
</div>
