.embed-response {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}


#vid1 {
  position: absolute;
  margin-left: -5%;
  z-index: -1;
  width: 108%;
  height: 100%;
  pointer-events: none;
}
#recentReports{
  position: relative;
  margin-top: 10%;
}
#selectMTNHome {

position: relative;
padding-top: 40%;
margin-left: 70%;;
width:300px;

}
#selectMTN {

  position: relative;
  padding-top: 5%;
  margin-left: 10%;;
  width:300px;

  }
  #sortBy {
    padding-top: 2%;
    padding-left: 2%;
    width:300px;
  }





  .mover {
    motion-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
    offset-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
    motion-rotation: reverse;
    animation: move 3s linear infinite;
  }
  @keyframes move {
    100% {
      motion-offset: 100%;
      offset-distance: 100%;
    }
  }


  .mover {
    width: 40px;
    height: 50px;
    background: url(https://static.vecteezy.com/system/resources/previews/000/177/978/non_2x/flat-ski-jumping-winter-olympics-korea-vector-illustration.jpg) no-repeat;
    position: absolute;
    left: 30%;
    top: 100px;
  }
