.embed-response {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.green {
  width: 1%;
  height: auto;
}

.centered {
  font-size: 600%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.centered1 {
  text-align: left;
  font-size: 125%;
  padding-right: 220px;
  padding-top: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.centered2 {
  text-align: left;
  font-size: 125%;
  padding-left: 450px;
  padding-top: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.topright {
  position: absolute;
  top: 75px;
  right: 70px;
}

.topleft {
  position: absolute;
  top: 75px;
  left: 16px;
}

#aBasinHomePic {
  position: fixed;
  top: 0;
  bottom: 20;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 5%;
  margin: auto;
  overflow: auto;
}

#vailHomePic {
  position: relative;
  top: 0;
  bottom: 20;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 60%;
  margin: auto;
  overflow: auto;
}

#vid1 {
  position: absolute;
  margin-left: -5%;
  z-index: -1;
  width: 108%;
  height: 100%;
  pointer-events: none;
}
#recentReports{
  position: relative;
  margin-top: 10%;
}
#selectMTNHome {

position: relative;
padding-top: 40%;
margin-left: 70%;;
width:300px;

}
#selectMTN {

  position: relative;
  padding-top: 5%;
  margin-left: 10%;;
  width:300px;

  }
  #sortBy {
    padding-top: 2%;
    padding-left: 2%;
    width:300px;
  }

  #aBasinHomePic {
    position: relative;
    width: 108%;
    height: 100%;
  }



