.embed-response {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}


#vid1 {
  position: absolute;
  margin-left: -5%;
  z-index: -1;
  width: 108%;
  height: 100%;
  pointer-events: none;
}
#recentReports{
  position: relative;
  margin-top: 10%;
}
#selectMTNHome {

position: relative;
padding-top: 40%;
margin-left: 70%;;
width:300px;

}
#selectMTN {

  position: relative;
  padding-top: 5%;
  margin-left: 10%;;
  width:300px;

  }
  #sortBy {
    padding-top: 2%;
    padding-left: 2%;
    width:300px;
  }
