<!-- PHOTO AT TOP OF SCREEN FOR MOUNTAIN -->
<div *ngIf="selectedMTN.id === 1">
  <img src="assets/mountains.jpg" alt="abasin" style=width:100% id="aBasinHomePic">
  <div class="centered">{{selectedMTN.name}}  </div> <br>
    <div class="centered1">Average Annual Snowfall: {{selectedMTN.averageAnnualSnowfall}} inches <br>
       Base elevation: {{selectedMTN.baseElevation}} feet<br>
       Peak Elevation: {{selectedMTN.peakElevation}} feet<br>
    </div>
    <div class="centered2"><img src="assets/green.png" alt="green" id="green" width="20px" height="20px"> Beginner: 7% <br>
      <img src="assets/blue.png" alt="blue" id="blue" width="20px" height="20px"> Intermediate: 20% <br>
      <img src="assets/blackDiamond.png" alt="blackDiamond" id="blackDiamond" width="20px" height="20px"> Hard: 49% <br>
      <img src="assets/doubleBlack.png" alt="doubleBlack" id="doubleBlack" width="20px" height="20px"> Expert: 24%
    </div>
  <div class="topright">
      <button class="btn btn-warning" (click)="showMap()">Trail Map</button>
  </div>
    <div class="topleft">
        <div *ngIf="selectedMTN && selectedMTN.id === 1" style="width: 210px;"><iframe style="display: block;"
          src="https://cdnres.willyweather.com/widget/loadView.html?id=98695"
          width="210" height="228" frameborder="0" scrolling="no"></iframe>
          <a style="margin: -20px 0 0 0;z-index: 1;position: relative;
          height: 20px;display: block;text-indent: -9999em" href="https://www.willyweather.com/co/summit-county/arapahoe-basin-ski-area.html"
          rel="nofollow">Arapahoe Basin ski area</a>
        </div>
    </div>
</div>

<div *ngIf="selectedMTN.id === 22">
  <img src="assets/spraySnow.jpg" alt="vail" style=width:100% id="vailHomePic">
  <div class="centered">{{selectedMTN.name}}  </div> <br>
    <div class="centered1">Average Annual Snowfall: {{selectedMTN.averageAnnualSnowfall}} inches <br>
       Base elevation: {{selectedMTN.baseElevation}} feet<br>
       Peak Elevation: {{selectedMTN.peakElevation}} feet<br>
    </div>
    <div class="centered2"><img src="assets/green.png" alt="green" id="green" width="20px" height="20px"> Beginner: 19% <br>
      <img src="assets/blue.png" alt="blue" id="blue" width="20px" height="20px"> Intermediate: 29% <br>
      <img src="assets/blackDiamond.png" alt="blackDiamond" id="blackDiamond" width="20px" height="20px"> Hard: 48% <br>
      <img src="assets/doubleBlack.png" alt="doubleBlack" id="doubleBlack" width="20px" height="20px"> Expert: 4%
    </div>
  <div class="topright">
      <button class="btn btn-warning" (click)="showMap()" target="blank">Trail Map</button>
  </div>
  <div class="topleft">
      <div *ngIf="selectedMTN && selectedMTN.id === 22" style="width: 245px;"><iframe style="display: block;"
        src="https://cdnres.willyweather.com/widget/loadView.html?id=98694"
        width="245" height="228" frameborder="0" scrolling="no"></iframe>
        <a style="z-index: 1;margin: -20px 0 0 0;height: 20px;position: relative;
        text-indent: -9999em;display: block" href="https://www.willyweather.com/co/eagle-county/vail.html"
        rel="nofollow">Vail Ski Area</a>
      </div>
  </div>
</div>

<!-- SELECT MOUNTAIN NO VID -->
<!-- <div class="container"  id="selectMTN"> -->
  <!-- <h3>Select Mountain:</h3>
  <div class="form-group"> -->
    <!-- <select class="form-control" name="mountain"  (mouseleave)="selectMountain(mtnId)" > -->
      <!-- <option *ngFor="let mountain of mountains" value="{{mountain.id}}" id="mountainName">{{
        mountain.name
      }}
    </option> -->
  <!-- </select>
</div> -->
<!-- </div> -->

<!-- SELCTED MOUNTAIN -->
<div *ngIf="selectedMTN" class="row"> <!-- ROW -->
  <div *ngIf="showTrailMap" class="embed-responsive" style="padding-bottom: 50%">
    <div *ngIf="selectedMTN.id === 1; else: vail">
      <object
        data="assets/Maps/abasin.pdf"
        type="application/pdf"
        width="100%"
        height="100%"
      ></object>
    </div>
    <ng-template #vail>
      <object
        data="assets/Maps/vail.pdf"
        type="application/pdf"
        width="100%"
        height="100%"
      ></object>
    </ng-template>
  </div>
</div>
<!-- ROW -->

<!-- <div id="sortBy" class="form-group" *ngIf="selectedMTN" class="row">
  ROW -->
  <!-- <select class="form-control" name="sortby"  (mouseleave)="sortTrailByName(searchBy)"  [(ngModel)]="searchBy">
    <option value="Name">Name</option>
    <option value="Features">Feature</option>
    <option value="Difficulty">Difficulty</option>
  </select> -->
  <!-- <input type="submit" (click)="sortTrailByName(searchBy)" value="Sort By" /> -->
<!-- </div> -->
<!-- ROW -->

<div class="container-fluid">
  <!-- CON -->
  <div class="row" *ngIf="selectedMTN">
    <!-- ROW -->

    <!-- <div class="col-2"> -->
      <!-- Vail Weather Widget -->
      <!-- <div *ngIf="selectedMTN && selectedMTN.id === 2" style="width: 245px;"><iframe style="display: block;"
        src="https://cdnres.willyweather.com/widget/loadView.html?id=98694"
        width="245" height="228" frameborder="0" scrolling="no"></iframe>
        <a style="z-index: 1;margin: -20px 0 0 0;height: 20px;position: relative;
        text-indent: -9999em;display: block" href="https://www.willyweather.com/co/eagle-county/vail.html"
        rel="nofollow">vail weekly forecast</a>
      </div> -->

      <!-- A-Basin Weather Widget -->
      <!-- <div *ngIf="selectedMTN && selectedMTN.id === 1" style="width: 210px;"><iframe style="display: block;"
        src="https://cdnres.willyweather.com/widget/loadView.html?id=98695"
        width="210" height="228" frameborder="0" scrolling="no"></iframe>
        <a style="margin: -20px 0 0 0;z-index: 1;position: relative;
        height: 20px;display: block;text-indent: -9999em" href="https://www.willyweather.com/co/summit-county/arapahoe-basin-ski-area.html"
        rel="nofollow">arapahoe basin ski area CO weather forecast</a>
      </div> -->

    <!-- </div> -->


    <div class="col">
      <!-- COL -->

      <h1 *ngIf="selectedMTN"> Mountain Trails</h1>
      <!-- <div id="sortBy" class="form-group" *ngIf="selectedMTN" > -->
          <!-- ROW -->
          <select class="form-control" name="sortby" (mouseleave)="sortTrailByName(searchBy)" [(ngModel)]="searchBy">
            <option value="Name">Name</option>
            <option value="Features">Feature</option>
            <option value="Difficulty">Difficulty</option>
          </select>
          <!-- <input type="submit" (click)="sortTrailByName(searchBy)" value="Sort By" /> -->
        <!-- </div> -->

      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>
              Name
              <span (click)="reverseNameList()" *ngIf="reverse === 1">&#9650;</span>
              <span (click)="reverseNameList()" *ngIf="reverse === 0"> &#9660; </span>
            </th>

            <th>Difficulty
                <span (click)="reverseDiffList()" *ngIf="reverse1 === 1">&#9650;</span>
                <span (click)="reverseDiffList()" *ngIf="reverse1 === 0"> &#9660; </span>
            </th>
            <!-- <th>Length</th>
            <th>Elevation Gain/Loss</th> -->
            <th> Features
              <span (click)="reverseFeatList()" *ngIf="reverse2 === 1">&#9650;</span>
              <span (click)="reverseFeatList()" *ngIf="reverse2 === 0"> &#9660; </span>
            </th>

          </tr>
        </thead>
        <tr *ngFor="let trail of sortedTrails">
          <td (click)="selectedTrail(trail.id)">{{ trail.name }}</td>
          <td>{{ trail.difficulty }}</td>
          <!-- IF -->
           <!-- <td *ngIf="trail.length; else: length">{{ trail.length }}</td> -->
         <!--  ELSE -->
           <!-- <ng-template #length> <td></td> </ng-template>  -->
          <!-- IF -->
          <!-- <td *ngIf="trail.elevationGainLoss; else: gainLoss"> -->
            <!-- {{ trail.elevationGainLoss }} -->
          <!-- </td> -->
          <!--  ELSE -->
          <!-- <ng-template #gainLoss> <td></td> </ng-template> -->

          <td>{{ trail.features }}</td>

        </tr>
      </table>
    </div>
    <!-- COL -->

    <div class="col">
      <!-- COL -->
      <h1>Mountain Reports</h1>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Username</th>
            <th>Report text</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let report of mReports">
            <td>{{ report.user.username }}</td>

            <td>{{ report.reportText }}</td>
            <td>{{ report.rating }}</td>
          </tr>
        </tbody>
      </table>


      <!-- NEW REPORT AND RATING  -->
      <div *ngIf="checkLogin()">
        <button type="button" (click)="reportToNotNUll()">Add Report</button>
      </div>

      <form *ngIf="newReport">
          <textarea rows="4" cols="50" name="report" form="report" placeholder="Is the gnar on par today?" [(ngModel)]="newReport.reportText"></textarea><br>

          <span>
            <span (click)="ratingsubmit1()" *ngIf="rating1 === 1">
              <img width=30px; height=30px; src="assets/skiB.png" alt="greyski"> </span>
            <span (click)="ratingsubmit1()" *ngIf="rating1 === 0">
              <img width=30px; height=30px; src="assets/ski2.png" alt="colorski"> </span>
          </span>

          <span>
            <span (click)="ratingsubmit2()" *ngIf="rating2 === 2">
              <img width=30px; height=30px; src="assets/skiB.png" alt="greyski"> </span>
            <span (click)="ratingsubmit2()" *ngIf="rating2 === 0">
              <img width=30px; height=30px; src="assets/ski2.png" alt="colorski"> </span>
          </span>
          <span>
            <span (click)="ratingsubmit3()" *ngIf="rating3 === 3">
              <img width=30px; height=30px; src="assets/skiB.png" alt="greyski"> </span>
            <span (click)="ratingsubmit3()" *ngIf="rating3 === 0">
              <img width=30px; height=30px; src="assets/ski2.png" alt="colorski"> </span>
          </span>
          <span>
            <span (click)="ratingsubmit4()" *ngIf="rating4 === 4">
              <img width=30px; height=30px; src="assets/skiB.png" alt="greyski"> </span>
            <span (click)="ratingsubmit4()" *ngIf="rating4 === 0">
              <img width=30px; height=30px; src="assets/ski2.png" alt="colorski"> </span>
          </span>
          <span>
            <span (click)="ratingsubmit5()" *ngIf="rating5 === 5">
              <img width=30px; height=30px; src="assets/skiB.png" alt="greyski"> </span>
            <span (click)="ratingsubmit5()" *ngIf="rating5 === 0">
              <img width=30px; height=30px; src="assets/ski2.png" alt="colorski"> </span>
          </span>
          <br>

      <button (click)="createReportOnMTN()">Submit</button>
      </form>
    </div>
    <!-- COL -->
  </div>
  <!-- ROW -->
</div>
<!-- CON -->


<!-- STAR RATING
<div>
  <form >
    <span>
      <span (click)="ratingsubmit1()" *ngIf="rating1 === 1" > &#9734; </span>
        <span (click)="ratingsubmit1()" *ngIf="rating1 === 0"> &#9733; </span>
      </span>

      <span>
        <span (click)="ratingsubmit2()" *ngIf="rating2 === 2"> &#9734; </span>
          <span (click)="ratingsubmit2()" *ngIf="rating2 === 0"> &#9733; </span>
      </span>
      <span>
        <span (click)="ratingsubmit3()" *ngIf="rating3 === 3"> &#9734; </span>
        <span (click)="ratingsubmit3()" *ngIf="rating3 === 0"> &#9733; </span>
      </span>
      <span>
          <span (click)="ratingsubmit4()" *ngIf="rating4 === 4"> &#9734; </span>
          <span (click)="ratingsubmit4()" *ngIf="rating4 === 0"> &#9733; </span>
        </span>
        <span>
            <span (click)="ratingsubmit5()" *ngIf="rating5 === 5"> &#9734; </span>
            <span (click)="ratingsubmit5()" *ngIf="rating5 === 0"> &#9733; </span>
          </span>

  </form>
</div> -->


<main><div class="mover"></div></main>




