
<!-- HEADER -->
<h1>{{ title }}</h1>


<!-- BUTTONS -->
<div *ngIf="!addMountain && !updateMountain && !deleteMountain && !addTrail && !updateTrail && !deleteTrail && !addResort && !updateResort && !deleteResort && !addChairlift && !updateChairlift && !deleteChairlift">
  <div class="container">
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="addMountainForm()">Add Mountain</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="updateMountainForm()">Update Mountain</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="deleteMountainForm()">Delete Mountain</button>
      </div>
    </div><!-- end mountain row -->
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="addTrailForm()">Add Trail</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="updateTrailForm()">Update Trail</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="deleteTrailForm()">Delete Trail</button>
      </div>
    </div><!-- end trail row -->
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="addResortForm()">Add Resort</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="updateResortForm()">Update Resort</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="deleteResortForm()">Delete Resort</button>
      </div>
    </div> <!-- end resort row -->
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="addChairliftForm()">Add Chairlift</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="updateChairliftForm()">Update Chairlift</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="deleteChairliftForm()">Delete Chairlift</button>
      </div>
    </div> <!-- end chairlift row -->
  </div> <!-- container -->
</div> <!-- *ngIf -->


<!--
  MOUNTAINS
-->


<!-- ADD MOUNTAIN -->
<div *ngIf="addMountain">
  <form>
    <!-- name -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="name">Name:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="text" name="name" [(ngModel)]="addMountain.name"/>
      </div>
    </div>
    <!-- resort -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="resortSelector">Select Resort</label>
      <select class="form-control" name="resortSelector" [(ngModel)]="addMountain.resort">
        <option *ngFor="let resort of resortList" value="{{resort.id}}" >{{resort.name}}</option>
      </select>
    </div>
    <!-- number of trails -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="numberOfTrails" >Number Of Trails:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="number" name="numberOfTrails" [(ngModel)]="addMountain.numberOfRuns"/>
      </div>
    </div>
    <!-- number of lifts -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="numberOfLifts" >Number Of Lifts:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="number" name="numberOfLifts" [(ngModel)]="addMountain.numberOfLifts"/>
      </div>
    </div>
    <!-- elevation base -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="elevationBase" >Elevation Base:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="number" name="elevationBase" [(ngModel)]="addMountain.baseElevation"/>
      </div>
    </div>
    <!-- elevation peak -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="elevationPeak">Elevation Peak:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="number" name="elevationPeak" [(ngModel)]="addMountain.peakElevation"/>
      </div>
    </div>
    <!-- mountain map url -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="mountainMapUrl">Mountain Map Url:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="text" name="mountainMapUrl" [(ngModel)]="addMountain.mountainMapUrl"/>
      </div>
    </div>
    <!-- buttons -->
    <button class="btn btn-outline-danger" (click)="cancelMountain()">Cancel</button>
    <button class="btn btn-outline-success" (click)="submitNewMountain()">Submit</button>
  </form> <!-- add mountian form -->
</div> <!-- *ngIf add mountain -->


<!-- UPDATE MOUNTAIN -->
<div *ngIf="updateMountain">
  <!-- select mountain to update -->
  <div class="form-group">
    <label class="col-lg-2 col-form-label col-form-label-lg" for="mountainSelector">Select Mountain</label>
    <select class="form-control" name="mountainSelector" [(ngModel)]="updateMountain.id">
      <option *ngFor="let mountain of mountainList" value="{{mountain.id}}" >{{mountain.name}}</option>
    </select>
    <button class="btn btn-outline-danger" (click)="cancelMountain()">Cancel</button>
    <input class="btn btn-outline-success" type="submit" (click)="findSingleMountain(updateMountain.id)" value="Submit" >
  </div> <!-- mountain selector -->
  <div *ngIf="tempMountain">
    <form>
      <!-- name -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="name">Name:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="text" name="name" [(ngModel)]="updateMountain.name" value="{{mountainToUpdate.name}}" />
        </div>
      </div>
      <!-- number of trails -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="numberOfTrails" >Number Of Trails:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="number" name="numberOfRuns" [(ngModel)]="updateMountain.numberOfRuns" value="{{mountainToUpdate.numberOfRuns}}" />
        </div>
      </div>
      <!-- number of lifts -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="numberOfLifts" >Number Of Lifts:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="number" name="numberOfLifts" [(ngModel)]="updateMountain.numberOfLifts" value="{{mountainToUpdate.numberOfLifts}}"/>
        </div>
      </div>
      <!-- elevation base -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="elevationBase" >Elevation Base:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="number" name="elevationBase" [(ngModel)]="updateMountain.baseElevation" value="{{mountainToUpdate.baseElevation}}" />
        </div>
      </div>
      <!-- elevation peak -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="elevationPeak" >Elevation Peak:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="number" name="elevationPeak" [(ngModel)]="updateMountain.peakElevation" value="{{mountainToUpdate.peakElevation}}" />
        </div>
      </div>
      <!-- mountain map url -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="mapUrl" >Mountain Map Url:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="text" name="mapUrl" [(ngModel)]="updateMountain.mountainMapUrl" value="{{mountainToUpdate.mountainMapUrl}}"/>
        </div>
      </div>

      <!-- <input type="hidden" name="id" [(ngModel)]="updateMountain.id" value="{{mountainToUpdate.id}}" > -->
      <!-- buttons -->
      <button class="btn btn-outline-danger" (click)="cancelMountain()">Cancel</button>
      <button class="btn btn-outline-success" (click)="submitUpdatedMountain()">Submit</button>
    </form> <!-- update mountain form -->
  </div> <!-- temp mountain -->
</div> <!-- *ngIf update mountain -->


<!-- DISABLE MOUNTAIN -->
<div *ngIf="deleteMountain">
    <div class="form-group">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="mountainSelector">Select Mountain</label>
      <select class="form-control" name="mountainSelector" [(ngModel)]="mountainToDelete.id">
        <option *ngFor="let mountain of mountainList" value="{{mountain.id}}" >{{mountain.name}}</option>
      </select>
      <button class="btn btn-outline-danger" (click)="cancelMountain()">Cancel</button>
      <button class="btn btn-outline-success" (click)="submitDisableMountain(mountainToDelete.id)">Submit</button>
    </div>
</div> <!-- *ngIf delete mountain -->


<!--
  TRAIL
-->


<!-- ADD TRAIL -->
<div *ngIf="addTrail">
  <form>
    <!-- name -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="name">Name:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="text" name="name" [(ngModel)]="addTrail.name"/>
      </div>
    </div>
    <!-- mountain -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="mountainSelector">Select Mountain</label>
      <select class="form-control" name="mountainSelector" [(ngModel)]="addTrail.mountain">
        <option *ngFor="let mountain of mountainList" value="{{mountain.id}}" >{{mountain.name}}</option>
      </select>
    </div>
    <!-- difficulty -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="difficulty" >Difficulty:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="text" name="difficulty" [(ngModel)]="addTrail.difficulty"/>
      </div>
    </div>
    <!-- length -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="length" >Length:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="number" name="length" [(ngModel)]="addTrail.length"/>
      </div>
    </div>
    <!-- elevationGainLoss -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="elevationGainLoss" >Elevation Gain/Loss:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="number" name="elevationGainLoss" [(ngModel)]="addTrail.elevationGainLoss"/>
      </div>
    </div>
    <!-- features -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="features">Features:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="text" name="features" [(ngModel)]="addTrail.features"/>
      </div>
    </div>
    <!-- buttons -->
    <button class="btn btn-outline-danger" (click)="cancelTrail()">Cancel</button>
    <button class="btn btn-outline-success" (click)="submitNewTrail()">Submit</button>
  </form> <!-- add trail form -->
</div> <!-- *ngIf add trail -->


<!-- UPDATE TRAIL -->
<div *ngIf="updateTrail">
  <!-- select trail to update -->
  <div class="form-group">
    <label class="col-lg-2 col-form-label col-form-label-lg" for="trailSelector">Select Trail</label>
    <select class="form-control" name="trailSelector" [(ngModel)]="updateTrail.id">
      <option *ngFor="let trail of trailList" value="{{trail.id}}" >{{trail.name}}</option>
    </select>
    <input class="btn btn-outline-success" type="submit" (click)="findSingleTrail(updateTrail.id)" value="Submit" >
  </div> <!-- trail selector -->
  <div *ngIf="tempTrail">
    <form>
      <!-- name -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="name">Name:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="text" name="name" [(ngModel)]="updateTrail.name" value="{{trailToUpdate.name}}"/>
        </div>
      </div>
      <!-- difficulty -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="difficulty" >Difficulty:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="text" name="difficulty" [(ngModel)]="updateTrail.difficulty" value="{{trailToUpdate.difficulty}}"/>
        </div>
      </div>
      <!-- length -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="length" >Length:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="number" name="length" [(ngModel)]="updateTrail.length" value="{{trailToUpdate.length}}"/>
        </div>
      </div>
      <!-- elevationGainLoss -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="elevationGainLoss" >Elevation Gain/Loss:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="number" name="elevationGainLoss" [(ngModel)]="updateTrail.elevationGainLoss" value="{{trailToUpdate.elevationGainLoss}}"/>
        </div>
      </div>
      <!-- features -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="features">Features:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="text" name="features" [(ngModel)]="updateTrail.features" value="{{trailToUpdate.features}}"/>
        </div>
      </div>
      <!-- buttons -->
      <button class="btn btn-outline-danger" (click)="cancelTrail()">Cancel</button>
      <button class="btn btn-outline-success" (click)="submitUpdatedTrail()">Submit</button>
    </form> <!-- update trail form -->
  </div> <!-- temp trail -->
</div> <!-- *ngIf update trail -->


  <!-- DELETE TRAIL -->
  <div *ngIf="deleteTrail">
    <div class="form-group">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="trailSelector">Select Trail</label>
      <select class="form-control" name="trailSelector" [(ngModel)]="trailToDelete.id">
        <option *ngFor="let trail of trailList" value="{{trail.id}}" >{{trail.name}}</option>
      </select>
      <button class="btn btn-outline-danger" (click)="cancelTrail()">Cancel</button>
      <button class="btn btn-outline-success" (click)="submitDeleteTrail(trailToDelete.id)">Submit</button>
    </div>
</div> <!-- *ngIf delete trail -->


<!--
  RESORT
-->


<!-- ADD RESORT -->
<div *ngIf="addResort">
  <form>
    <!-- name -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="name">Name:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="text" name="name" [(ngModel)]="addResort.name"/>
      </div>
    </div>
    <!-- acres -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="acres" >Acres:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="number" name="acres" [(ngModel)]="addResort.acres"/>
      </div>
    </div>
    <!-- street -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="street" >Street:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="text" name="street" [(ngModel)]="addResort.street"/>
      </div>
    </div>
    <!-- street2 -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="street2" >Street2:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="text" name="street2" [(ngModel)]="addResort.street2"/>
      </div>
    </div>
    <!-- city -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="city">City:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="text" name="city" [(ngModel)]="addResort.city"/>
      </div>
    </div>
    <!-- state -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="state">State:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="text" name="state" [(ngModel)]="addResort.state"/>
      </div>
    </div>
    <!-- zip -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="zip">zip:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="text" name="zip" [(ngModel)]="addResort.zip"/>
      </div>
    </div>
    <!-- buttons -->
    <button class="btn btn-outline-danger" (click)="cancelResort()">Cancel</button>
    <button class="btn btn-outline-success" (click)="submitNewResort()">Submit</button>
  </form> <!-- add resort form -->
</div> <!-- *ngIf add resort -->


<!-- UPDATE RESORT -->
<div *ngIf="updateResort">
  <!-- select resort to update -->
  <div class="form-group">
    <label class="col-lg-2 col-form-label col-form-label-lg" for="resortSelector">Select Resort</label>
    <select class="form-control" name="resortSelector" [(ngModel)]="updateResort.id">
      <option *ngFor="let resort of resortList" value="{{resort.id}}" >{{resort.name}}</option>
    </select>
    <input class="btn btn-outline-success" type="submit" (click)="findSingleResort(updateResort.id)" value="Submit" >
  </div> <!-- resort selector -->
  <div *ngIf="tempResort">
    <form>
      <!-- name -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="name">Name:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="text" name="name" [(ngModel)]="updateResort.name" value="{{resortToUpdate.name}}"/>
        </div>
      </div>
      <!-- acres -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="acres" >Acres:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="number" name="acres" [(ngModel)]="updateResort.acres" value="{{resortToUpdate.acres}}"/>
        </div>
      </div>
      <!-- street -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="street" >Street:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="text" name="street" [(ngModel)]="updateResort.street" value="{{resortToUpdate.street}}"/>
        </div>
      </div>
      <!-- street2 -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="street2" >Street2:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="text" name="street2" [(ngModel)]="updateResort.street2" value="{{resortToUpdate.street2}}"/>
        </div>
      </div>
      <!-- city -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="city">City:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="text" name="city" [(ngModel)]="updateResort.city" value="{{resortToUpdate.city}}"/>
        </div>
      </div>
      <!-- state -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="state">State:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="text" name="state" [(ngModel)]="updateResort.state" value="{{resortToUpdate.state}}"/>
        </div>
      </div>
      <!-- zip -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="zip">zip:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="text" name="zip" [(ngModel)]="updateResort.zip" value="{{resortToUpdate.zip}}"/>
        </div>
      </div>
      <!-- buttons -->
      <button class="btn btn-outline-danger" (click)="cancelResort()">Cancel</button>
      <button class="btn btn-outline-success" (click)="submitUpdatedResort()">Submit</button>
    </form> <!-- update resort form -->
  </div> <!-- temp resort -->
</div> <!-- *ngIf update resort -->


<!-- DELETE RESORT -->
<div *ngIf="deleteResort">
    <div class="form-group">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="resortSelector">Select Resort</label>
      <select class="form-control" name="resortSelector" [(ngModel)]="resortToDelete.id">
        <option *ngFor="let resort of resortList" value="{{resort.id}}" >{{resort.name}}</option>
      </select>
      <button class="btn btn-outline-danger" (click)="cancelMountain()">Cancel</button>
      <button class="btn btn-outline-success" (click)="submitDeleteResort(resortToDelete.id)">Submit</button>
    </div>
</div> <!-- *ngIf delete resort -->


<!--
  CHAIRLIFT
-->


<!-- ADD CHAIRLIFT -->
<div *ngIf="addChairlift">
  <form>
    <!-- name -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="name">Name:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="text" name="name" [(ngModel)]="addChairlift.name"/>
      </div>
    </div>
    <!-- ride length -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="rideLength" >Ride Length:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="number" name="rideLength" [(ngModel)]="addChairlift.rideLength"/>
      </div>
    </div>
    <!-- hours -->
    <div class="form-group row">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="hours" >Hours:</label>
      <div class="col-lg-5">
        <input class="form-control form-control-lg" type="text" name="hours" [(ngModel)]="addChairlift.hours"/>
      </div>
    </div>
    <!-- buttons -->
    <button class="btn btn-outline-danger" (click)="cancelChairlift()">Cancel</button>
    <button class="btn btn-outline-success" (click)="submitNewChairlift()">Submit</button>
  </form> <!-- add resort form -->
</div> <!-- *ngIf add resort -->


<!-- UPDATE CHAIRLIFT -->
<div *ngIf="updateChairlift">
  <!-- select chairlift to update -->
  <div class="form-group">
    <label class="col-lg-2 col-form-label col-form-label-lg" for="chairliftSelector">Select Chairlift</label>
    <select class="form-control" name="chairliftSelector" [(ngModel)]="updateChairlift.id">
      <option *ngFor="let chairlift of chairliftList" value="{{chairlift.id}}" >{{chairlift.name}}</option>
    </select>
    <input class="btn btn-outline-success" type="submit" (click)="findSingleChairlift(updateChairlift.id)" value="Submit" >
  </div> <!-- chairlift selector -->
  <div *ngIf="tempChairlift">
    <form>
      <!-- name -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="name">Name:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="text" name="name" [(ngModel)]="updateChairlift.name" value="{{chairliftToUpdate.name}}"/>
        </div>
      </div>
      <!-- ride length -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="rideLength" >Ride Length:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="number" name="rideLength" [(ngModel)]="updateChairlift.rideLength" value="{{chairliftToUpdate.rideLength}}"/>
        </div>
      </div>
      <!-- hours -->
      <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="hours" >Hours:</label>
        <div class="col-lg-5">
          <input class="form-control form-control-lg" type="text" name="hours" [(ngModel)]="updateChairlift.hours" value="{{chairliftToUpdate.hours}}"/>
        </div>
      </div>
      <!-- chairlift type -->
      <!-- <div class="form-group row">
        <label class="col-lg-2 col-form-label col-form-label-lg" for="chairliftTypeSelector">Select Chairlift Type</label>
        <select class="form-control" name="chairliftTypeSelector" [(ngModel)]="updateChairlift.">
          <option *ngFor="let resort of resortList" value="{{resort.id}}" >{{resort.name}}</option>
        </select>
      </div> -->
      <!-- buttons -->
      <button class="btn btn-outline-danger" (click)="cancelChairlift()">Cancel</button>
      <button class="btn btn-outline-success" (click)="submitUpdatedChairlift()">Submit</button>
    </form> <!-- update resort form -->
  </div> <!-- temp resort -->
</div> <!-- *ngIf update resort -->


<!-- DELETE CHAIRLIFT -->
<div *ngIf="deleteChairlift">
    <div class="form-group">
      <label class="col-lg-2 col-form-label col-form-label-lg" for="chairliftSelector">Select Resort</label>
      <select class="form-control" name="chairliftSelector" [(ngModel)]="chairliftToDelete.id">
        <option *ngFor="let chairlift of chairliftList" value="{{chairlift.id}}" >{{chairlift.name}}</option>
      </select>
      <button class="btn btn-outline-danger" (click)="cancelChairlift()">Cancel</button>
      <button class="btn btn-outline-success" (click)="submitDeleteChairlift(chairliftToDelete.id)">Submit</button>
    </div>
</div> <!-- *ngIf delete resort -->
