



<div id="backgroundBox">


  </div>

  <h1 id="profileText">Profile</h1>

<div id="box" *ngIf="!selected && !editedUser">

  <div id="boxContent">
 <h2 >{{user.firstName}}</h2><br>
 <h2 >{{user.lastName}}</h2><br>
 <h2 >{{user.password}}</h2><br>
 <h2 >{{user.email}}</h2><br>
 <h2 >{{user.profilePic}}</h2><br>
 </div>

 <button id="editButton" (click)="editUser()">Edit Profile</button>




  </div>



 <div id="updateBox" *ngIf="editedUser">
    <form>
      <div id="textBoxes">
      <input type="text" name="firstname" placeholder="First Name" [(ngModel)]="editedUser.firstName" /> <br>
      <input type="text" name="lastname"  placeholder="Last Name" [(ngModel)]="editedUser.lastName" /> <br>
      <input type="text" name="password" placeholder="Password"[(ngModel)]="editedUser.password" /> <br>
      <input type="text" name="email" placeholder="Email" [(ngModel)]="editedUser.email" /> <br>
      <input type="text" name="profilepic" placeholder="Image Url" [(ngModel)]="editedUser.profilePic" /> <br>
    </div>
    <div id="updateCancelButtons">
      <button (click)="update()">  Save </button>
      <button (click)="cancel()"> Cancel </button>
    </div>
    </form>
  </div>
