<div *ngIf="!selected">

 <li (click)="selectedUser(user)">{{user.firstName}}</li>
 <li (click)="selectedUser(user)">{{user.lastName}}</li>
 <li (click)="selectedUser(user)">{{user.password}}</li>
 <li (click)="selectedUser(user)">{{user.email}}</li>
 <li (click)="selectedUser(user)" >{{user.profilePic}}</li>

 <button (click)="editUser()">Edit</button>




</div>


 <div *ngIf="editedUser">
    <form>
      First Name: <input type="text" name="firstname" placeholder="First Name" [(ngModel)]="editedUser.firstName" /> <br>
      Last Name: <input type="text" name="lastname"  placeholder="Last Name" [(ngModel)]="editedUser.lastName" /> <br>
      Password:<input type="text" name="password" [(ngModel)]="editedUser.password" /> <br>
      Email:<input type="text" name="email" [(ngModel)]="editedUser.email" /> <br>
      Image:<input type="text" name="profilepic" [(ngModel)]="editedUser.profilePic" /> <br>
      <button (click)="update()">Save</button>
      <button (click)="cancel()">Cancel</button>
    </form>
  </div>
