<h1><strong>{{selected.name}}</strong></h1> <br> <br>
<div class="container" *ngIf="selected">
    <div class="row">
      <div class="col">
          <img src="https://www.arttowngifts.com/v/vspfiles/photos/JFDSKITRAIL-2.jpg" alt="Ski sign" height="250" width="250"> <hr>
      </div>
      <div class="col">
          <p>Difficulty: {{selected.difficulty}}</p>
          <p>Length: {{selected.length}}</p>
          <p>Elevation gain/loss: {{selected.elevationGainLoss}}</p>
          <p>Features: {{selected.features}}</p>
      </div>
    </div>
<form>
    <h3>Here's what people are saying about the gnar today</h3> <br>
    <div *ngFor="let report of reports">
      <p>Report: {{report.reportText}}<p>
        <div *ngFor="let comment of report.comments">
          <p>........Comment: {{comment.commentText}}</p>
        </div>
      </div>
      <br>
      <textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Is the gnar on par today?" [(ngModel)]="newReport"></textarea><br>
      <button (click)="createReportOnTrail(newReport)">Submit</button>
    </form>
